/* Gives space for menubar and sidebar */
.content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  height: calc(100% - 82px);
  background-color: white;
  margin-top: 82px;
}

.opened {
  padding-left: 250px;
}

/* Content */
.bovenkant {
  display: flex;
  justify-content: space-between;
  margin-bottom: .7em;
  align-items: center;
}

.bovenmidden {
  display: flex;
  width: calc(100% - 10px);
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bovenlinks {
  margin-right: 20px;
  cursor: pointer;
  font-size: 40px;
}

li {
  width: 200px;
}

.rechts-float {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

.bottom-buttons {
  margin: 15px 10px;
}

.normal-button {
  background-color: #16A085;
}

.onderkant {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 650px) {
  .content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
    margin-top: 0;
  }
}

