/* Content */
.content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

.opened {
  padding-left: 250px;
}

h1 {
  margin-bottom: .7em;
}

li {
  width: 200px;
}

.rechts-float {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

.bottom-buttons {
  margin: 15px 10px;
}

.normal-button {
  background-color: #16A085;
}

.onderkant {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}



