/* Content */
.content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  margin-top: 82px;
}

.opened {
  padding-left: 250px;
}

.content-item {
  margin-top: 30px;
}

.content-item-inline {
  margin-right: 10px;
  padding: 10px;
}

.race-lijst {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.race-lijst a {
  padding: 10px 20px 10px 20px;
  margin: 10px 20px 20px 0;

  text-decoration: none;
  font-weight: bold;
  font-size: 3em;
  color: #EDECEC;
  text-align: center;

  cursor: pointer;
  background-color: #2c3e50;
  border-radius: 20px;
}

.race-lijst a:hover {
  background-color: #16A085;
}

@media (max-width: 650px) {
  .content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
    margin-top: 0;
  }
}

