<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col" width="50px">Rangschikking</th>
    <th scope="col" width="50px">Startnummer</th>
    <th scope="col" style="min-width: 250px">Naam</th>
    <th scope="col">Geslacht</th>
    <th scope="col">Tijd</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let col of runners" >
    <td>{{col.ranking}}</td>
    <td>{{col.startNumber}}</td>
    <td>{{col.name}}</td>
    <td>{{col.gender}}</td>
    <td>{{col.finish ? showTime(col) : ""}}</td>
  </tr>
  </tbody>
</table>
