<table class="table">
  <thead class="thead-light">
    <tr>
      <th *ngIf="heeftRanking" scope="col" width="50px">Rangschikking</th>
      <th scope="col" width="50px">Startnummer</th>
      <th scope="col" style="min-width: 250px">Naam</th>
      <th scope="col">Geslacht</th>
      <th *ngIf="heeftUitslag" scope="col">Tijd</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let col of runners">
      <td *ngIf="heeftRanking" class="top3">
        <span>{{col.ranking}}</span>
        <fa *ngIf="isTop3(col)" name="trophy"></fa>
      </td>
      <td>{{col.startNumber}}</td>
      <td>
        <span>{{col.name}}</span>
        <fa class="trofee" *ngIf="isTop3(col)" name="trophy"></fa>
      </td>
      <td>{{col.gender}}</td>
      <td *ngIf="heeftUitslag" >{{col.finish ? showTime(col) : ""}}</td>
    </tr>
  </tbody>
</table>
