<div [ngClass]="{opened: status$ | async, 'content-wrapper': true}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1>{{naam}}<a class="delete-knop" (click)="removeRace()"><fa name="trash"></fa></a></h1>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col" width="50px">Rangschikking</th>
              <th scope="col" width="50px">Startnummer</th>
              <th scope="col" style="min-width: 250px">Naam</th>
              <th scope="col">Geslacht</th>
              <th scope="col">Tijd</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let col of lijst$ | async">
              <td>{{col.ranking}}</td>
              <td>{{col.startNumber}}</td>
              <td>{{col.name}}</td>
              <td>{{col.gender}}</td>
              <td>{{col.finish ? col.finish.toString().slice(3,8) : null}}</td>
              <td><a (click)="removeRunner(col)"><fa name="trash"></fa></a></td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary btn-success" (click)="addRunner()">Voeg deelnemer toe</button>
      </div>
    </div>
  </div>
</div>


