<div class="wrapper">
  <div class="linker-form" [formGroup]="myForm">
    <div class="top-buttons">
      <mat-button-toggle-group name="kiezen">
        <mat-button-toggle value="volgorde" (change)="selectRank()">Volgorde</mat-button-toggle>
        <mat-button-toggle value="tijden" (change)="selectTime()">Tijden</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="invul-input">
      <label>
        <mat-form-field>
          <input *ngIf="toggle"
                 #startVeld
                 formControlName="startnummer"
                 matInput
                 type="text"
                 placeholder="Startnummer ([enter] dient in)"
                 (keyup.enter)="submitStartnummer()"
                 autocomplete="off"
                 appAutofocus
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="toggle && startnummer.invalid">{{getStartnummerErrorMessage()}}</mat-error>

          <input *ngIf="!toggle"
                 #tijdVeld
                 formControlName="tijd"
                 matInput
                 type="text"
                 placeholder="Tijd ([enter] dient in)"
                 (keyup.enter)="submitTijd()"
                 [errorStateMatcher]="matcher"
                 appAutofocus
                 autocomplete="off">
          <mat-error *ngIf="!toggle && tijd.invalid">{{getTijdErrorMessage()}}</mat-error>
        </mat-form-field>
      </label>
    </div>
    <div class="bot-buttons">
      <button class="btn btn-primary" (click)="modalService.dismissAll('Cancelled')">Cancel</button>
      <button class="btn btn-primary" (click)="submitAll()">Submit lijst</button>
    </div>
  </div>

  <div class="preview-lijst">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Plaats</th>
          <th scope="col">Nummer</th>
          <th scope="col">Tijd</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let runner of lijst" [ngClass]="{'table-active': selectedRowIndex == runner.ranking}">
          <td scope="row">{{runner.ranking}}</td>
          <td>{{runner.startNumber}}</td>
          <td>{{runner.finish ? showTime(runner) : ""}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
